	body{
/* 
	/* background-color: firebrick; */
	/* background-image: url(img/img.jpg); */
	/* background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; */ */
}
.see{
	background-color: whitesmoke;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 1,5%;
}
	.sahara{
		margin-top: 5%;
		margin-right: 20%;
		margin-left: 20%;
		background-color: khaki;
		padding: 1.5%;
	}
li{
	display: inline-block;
}

nav{
	/* background-color: aqua; */
	padding: 1.5%;
	
}
a{
	list-style-type: none;
	text-decoration: none;
}
.body{
	/* margin-right: 20%;
	margin-left: 20%; */
	/* padding: 10%;
	background-image: url(saharacar.jpeg);
	background-repeat: no-repeat;
	background-size: cover; */
}
.logo{
	float: left;
}
.info{
	margin-left: 70%;
}
#myid{
	color: red;
}